.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: #80ff00;
  font-size: 25pt;
}

img {
  width: 250px;
}

body {
  text-align: center;
  background-color: blue;
}

p {
  color: red;
  font-size: 30pt;
}
